doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="../node_modules/font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="css/style.css")
    title Boilerplate
  body
    div#app.container
    script(src="../node_modules/nw-dev/lib/dev.js")
    script(src="js/index.js")
